<div *ngIf="!loading">
    <h1 mat-dialog-title>Please Login</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="Enter Username" [(ngModel)]="userName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Enter Password" type="password" [(ngModel)]="password">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Register/Signup</button>
        <button mat-button cdkFocusInitial mat-raised-button (click)="onLogin()">Login</button>
    </div>
</div>

<div *ngIf="loading">
    <div mat-dialog-content>
        <app-loader></app-loader>
    </div>

</div>